{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Hlavní stránka{% endblock %}
{% block body %}
    <div class="text-center mt-3">
        <div class="d-flex justify-content-center">
            <div class="border p-5 w-75 shadow">
                <h2>Co je Formio?</h2>
                <p class="lead">Formio je webový portál pro tvorbu a správu bezpečných internetových formulářů s neomezenými možnostmi přizpůsobení požadavkům klienta. Díky Formiu mohou firmy předejít anonymním internetovým útokům a sběru osobních údajů korporátními společnostmi. Formio je produktem policisty a nadšence pro kyberbezpečnost, <a href="#" class="text-decoration-none text-danger" target="_top">Steva Zayase</a>.</p>
                <h2>Proč si vybrat Formio?</h2>
                <p class="lead">To je jednoduché. Díky Formiu předejdou firmy anonymním útokům, tvorbě falešných objednávek a zdlouhavému procesu nabytí dat potřebných k případným sporům. Formio spadá pod osoby kompetentní v řešení protiprávního jednání a my moc dobře víme, kdy je potřeba zakročit.</p>
                <h2>Kolik to stojí?</h2>
                <p class="lead">Cena a doba vyhotovení se odvíjí dle specifických požadavků zákazníka, případně dle dalších faktorů, mezi něž patří například množství formulářů, které zákazník pro danou společnost žádá.</p>
                <h2>Jak to celé funguje?</h2>
                <p class="lead">Zákazník zažádá o vyhotovení formuláře pro svou společnost/osobu, následně je kontaktován správcem webu, se kterým společně projdou předlohy a správce udá požadovanou cenu za vyhotovení. Pokud se společně dohodnou, proces přejde do fáze tvorby a po obdržení požadované částky jsou zákazníkovi předány potřebné údaje pro správu formuláře. Mezi zaručené služby, které jsou zákazníku poskytnuty, se řadí udělení oprávnění k zobrazení formuláře a jeho odpovědí, možnost zapínat a vypínat odpovědi a přidělovat oprávnění jiným osobám.</p>
                <h2>Platím něco navíc?</h2>
                <p class="lead">Ano, za každý zásah do již předaného systému je zákazníku naúčtován servisní poplatek, s nímž je před zahájením úprav seznámen a je předem uhrazen. Za případné prokazatelné chyby na straně provozovatele za tyto chyby ručí sám provozovatel a náklady jsou hrazeny z jeho prostředků.</p>
                <a class="mt-3 btn btn-lg btn-outline-danger">Mám zájem o formulář</a>
            </div>
        </div>
    </div>
{% endblock %}